<div id="sneaker-cleaning-ext-parent"></div>

{% schema %}
{
  "name": "Book Sneaker Pickup",
  "target": "section",
  "stylesheet": "sneakerCleaningExt.css",
  "javascript": "sneakerCleaningExt.js",
  "settings": []
}
{% endschema %}
